@page "/about"

<h1>About ME</h1>

<div class="container">
    <div class="about">
        <p>My name is Lutfee Dorloh <br> Student ID : <strong> 6510110408 </strong></p>
        <img src="/Image/me.jpg" alt="lutfee" width="200" height="200">
    </div>

    <div class="animal">
        <p>สิ่งที่ชอบ : <strong> แมว </strong></p>
        <img src="/Image/cat.jpg" alt="cat" style="max-width: 200px; max-height: 200px;">
    </div>
</div>
